<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<a href="add"> Add Employee</a>
	<br>

	<h4>Employee Details</h4>
	<table border="2">
		<tr>
			<th>Emp Id</th>
			<th>Emp Name</th>
			<th>Emp Designation</th>
			<th>Emp Salary</th>
				<th>Action</th>
		</tr>

<tr th:each="empl : *{emp}">

		<td th:text='${empl.empid}'></td>
			 <td th:text='${empl.ename}'></td>
			
			 <td th:text='${empl.desgn}'></td>
			 <td th:text='${empl.salary}'></td>
			 <td><a th:href="@{/edit/{id}(id=${empl.empid})}">Edit</a>/<a th:href="@{/delete/{id}(id=${empl.empid})}" >Delete</a></td>
		
</tr>

</table>
	
</body>
</html>